In [1]:
import pandas as pd

## BBC News Dataset

In [3]:
bbc=pd.read_csv("C:/DEAN/Datasets/bbc.csv")

In [4]:
bbc.head()

,tags,title,news_post_date,raw_content,content,url,author,language,_id,region,short_description,category,crawled_at
0,NaN,Why quitting heroin substitute methadone is 'v...,2010-08-06T02:46:40.000Z,"<div data-component=""text-block"" class=""ssrcss...",The heroin substitute methadone can be used as...,https://www.bbc.co.uk/news/health-10869329,By Linda Pressly,en_GB,45cbcb62-840b-5a1d-9b59-d7f57f3ab7f6,Health,Heroin substitute methadone is used to wean ad...,BBC News,2021-05-02 17:19:39
1,"North Korea, Kim Jong-un, Kim Jong-il, Kim Jon...",North Korea leader's eldest son 'opposes dynasty',2010-10-12T08:54:42.000Z,"<div data-component=""text-block"" class=""ssrcss...",The eldest son of North Korean leader Kim Jong...,https://www.bbc.co.uk/news/world-asia-pacific-...,NaN,en_GB,771b9c0d-88e1-589f-bf56-8ef80ce161a2,Asia-Pacific,The eldest son of North Korean leader Kim Jong...,BBC News,2021-05-02 17:19:39
2,NaN,Paintings by gangster Reggie Kray go on sale i...,2010-10-27T17:35:24.000Z,"<div data-component=""text-block"" class=""ssrcss...",Seven oil paintings created by notorious gangs...,https://www.bbc.co.uk/news/uk-england-lincolns...,NaN,en_GB,768e3fc6-c406-5570-8328-2e6fb75abd1b,Lincolnshire,A series of oil painting produced by gangster ...,BBC News,2021-05-02 17:19:39
3,NaN,Bracklinn Falls Bridge hauled over gorge by hand,2010-10-08T13:21:50.000Z,"<div data-component=""text-block"" class=""ssrcss...",A 20-tonne bridge is being hauled into place b...,https://www.bbc.co.uk/news/uk-scotland-tayside...,NaN,en_GB,a6e26396-70ec-501c-8ebc-1d600ddf6aab,Tayside and Central Scotland,A 20-tonne bridge is having to be hauled into ...,BBC News,2021-05-02 17:19:39
4,NaN,Manchester soldier's last words become song,2010-09-22T17:35:34.000Z,"<div data-component=""text-block"" class=""ssrcss...",The final words written by a guardsman killed ...,https://www.bbc.co.uk/news/uk-england-manchest...,NaN,en_GB,e8a150a5-b6e0-5315-9c04-fc639dee196f,Manchester,The final words written by a guardsman from Ma...,BBC News,2021-05-02 17:19:39

In [4]:
bbc.describe()

,headline,url,slug,short_description,tags,source,source_title,article_section,author,primary_image,language,description,raw_description,created_at,modified_at,published_at,uniq_id,scraped_at
count,5443,5443,5443,4168,5443,5443,5443,5443,5332,5443,5443,5285,5294,5443,5443,5443,5443,5443
unique,5428,5443,5427,4156,5267,1,1,63,2298,2891,1,5269,5281,1514,1582,1514,5443,1
top,The Funniest Tweets From Parents This Week,https://www.huffpost.com/entry/why-this-former...,the-funniest-tweets-from-parents-this-week,Buy real stuff from the HuffPost store: All pu...,Business,www.huffpost.com,HuffPost,Politics,Reuters,https://img.huffingtonpost.com/asset/default-e...,en-US,,"<div class=""primary-cli cli cli-text""><p><br/>...",10/27/15,12/07/17,10/27/15,1502cb87-868f-56e2-9f83-61b149ba43fe,06/05/22
freq,7,1,7,4,15,5443,5443,1024,143,2462,5443,5,5,18,1049,18,1,5443

In [13]:
bbc.columns

Index(['tags', 'title', 'news_post_date', 'raw_content', 'content', 'url',
       'author', 'language', '_id', 'region', 'short_description', 'category',
       'crawled_at'],
      dtype='object')

In [14]:
# checking null values for each column
bbc.columns.isna().sum()

0

In [16]:
# checking blank values for each column
print('title = %d' % (bbc['title'].values == '').sum())
print('url = %d' % (bbc['url'].values == '').sum())

title = 0
url = 0

In [17]:
# checking tap values for each column
print('title = %d' % (bbc['title'].values == ' ').sum())
print('url = %d' % (bbc['url'].values == ' ').sum())

title = 0
url = 0

In [18]:
# checking 'na' values for each column
print('title = %d' % (bbc['title'].values == 'na').sum())
print('url = %d' % (bbc['url'].values == 'na').sum())

title = 0
url = 0

In [19]:
# checking duplicate values for url column
print('url = %d' % (bbc['url'].duplicated()).sum())

url = 0

In [ ]:
#checking the invalidity of the URLs
from urllib.request import urlopen, URLError, HTTPError

def validate_web_url(dataframe):
    url_status = []
    for url in dataframe.url:
        try:
            urlopen(url)
            url_status.append("valid")
        except  (urllib.error.URLError, urllib.error.HTTPError):
            url_status.append("invalid")
    return url_status

In [ ]:
url_status = validate_web_url(bbc)
bbc.insert(0,'url_status', url_status)
bbc['url_status'].value_counts()

In [ ]:
bbc.drop(bbc.loc[bbc['url_status']=="invalid"].index, inplace=True)

## ALJAZEERA NEWS DATASETS

In [ ]:
aljazeera=pd.read_csv("C:/DEAN/Datasets/aljazeera.csv")

In [ ]:
aljazeera.head()

In [ ]:
aljazeera.describe()

In [ ]:
aljazeera.columns

In [ ]:
# checking null values for each column
aljazeera.isna().sum()

In [ ]:
# checking blank values for each column
print('title = %d' % (aljazeera['title'].values == '').sum())
print('url = %d' % (aljazeera['url'].values == '').sum())

In [ ]:
# checking tap values for each column
print('title = %d' % (aljazeera['title'].values == ' ').sum())
print('url = %d' % (aljazeera['url'].values == ' ').sum())

In [ ]:
# checking 'na' values for each column
print('title = %d' % (aljazeera['title'].values == 'na').sum())
print('url = %d' % (aljazeera['url'].values == 'na').sum())

In [ ]:
# checking duplicate values for url column
print('url = %d' % (aljazeera['url'].duplicated()).sum())

In [ ]:
# dropping rows with duplicate url values
aljazeera = aljazeera.drop_duplicates(subset=['url'])

In [ ]:
## Checking the URLS invalidity
url_status = validate_web_url(aljazeera)
aljazeera.insert(0,'url_status', url_status)
aljazeera['url_status'].value_counts()

In [ ]:
aljazeera.drop(aljazeera.loc[aljazeera['url_status']=="invalid"].index, inplace=True)

## CNBC NEWS DATASETS

In [ ]:
cnbc=pd.read_csv("C:/DEAN/Datasets/cnbc_news_datase.csv")

In [ ]:
cnbc.head()

In [ ]:
cnbc.describe()

In [ ]:
cnbc.columns

In [ ]:
# checking null values for each column
cnbc.isna().sum()

In [ ]:
# checking blank values for each column
print('title = %d' % (cnbc['title'].values == '').sum())
print('url = %d' % (cnbc['url'].values == '').sum())

In [ ]:
# checking tap values for each column
print('title = %d' % (cnbc['title'].values == ' ').sum())
print('url = %d' % (cnbc['url'].values == ' ').sum())

In [ ]:
# checking 'na' values for each column
print('title = %d' % (cnbc['title'].values == 'na').sum())
print('url = %d' % (cnbc['url'].values == 'na').sum())

In [ ]:
# checking duplicate values for url column
print('url = %d' % (cnbc['url'].duplicated()).sum())

In [ ]:
## Checking the URLS invalidity
url_status = validate_web_url(cnbc)
cnbc.insert(0,'url_status', url_status)
cnbc['url_status'].value_counts()

In [ ]:
cnbc.drop(cnbc.loc[cnbc['url_status']=="invalid"].index, inplace=True)

## CNN NEWS DATASET

In [ ]:
cnn=pd.read_csv("C:/DEAN/Datasets/cnn.csv")

In [ ]:
cnn.head()

In [ ]:
cnn.describe()

In [ ]:
cnn.columns

In [ ]:
# checking null values for each column
cnn.isna().sum()

In [ ]:
# checking blank values for each column
print('title = %d' % (cnn['title'].values == '').sum())
print('url = %d' % (cnn['url'].values == '').sum())

In [ ]:
# checking tap values for each column
print('title = %d' % (cnn['title'].values == ' ').sum())
print('url = %d' % (cnn['url'].values == ' ').sum())

In [ ]:
# checking 'na' values for each column
print('title = %d' % (cnn['title'].values == 'na').sum())
print('url = %d' % (cnn['url'].values == 'na').sum())

In [ ]:
# checking duplicate values for url column
print('url = %d' % (cnn['url'].duplicated()).sum())

In [ ]:
# dropping rows with duplicate url values
cnn = cnn.drop_duplicates(subset=['url'])

In [ ]:
## Checking the URLS invalidity
url_status = validate_web_url(cnn)
cnn.insert(0,'url_status', url_status)
cnn['url_status'].value_counts()

In [ ]:
cnn.drop(cnn.loc[cnn['url_status']=="invalid"].index, inplace=True)

## JAPAN TIMES NEWS DATASET

In [ ]:
japan_times=pd.read_csv("C:/DEAN/Datasets/japan_times.csv")

In [ ]:
japan_times.head()

In [ ]:
japan_times.describe()

In [ ]:
japan_times.columns

In [ ]:
# checking null values for each column
japan_times.isna().sum()

In [ ]:
# checking blank values for each column
print('title = %d' % (japan_times['headline'].values == '').sum())
print('url = %d' % (japan_times['url'].values == '').sum())

In [ ]:
# checking tap values for each column
print('title = %d' % (japan_times['headline'].values == ' ').sum())
print('url = %d' % (japan_times['url'].values == ' ').sum())

In [ ]:
# checking 'na' values for each column
print('title = %d' % (japan_times['headline'].values == 'na').sum())
print('url = %d' % (japan_times['url'].values == 'na').sum())

In [ ]:
# checking duplicate values for url column
print('url = %d' % (japan_times['url'].duplicated()).sum())

In [ ]:
## Checking the URLS invalidity
url_status = validate_web_url(cnn)
japan_times.insert(0,'url_status', url_status)
japan_times['url_status'].value_counts()

In [ ]:
japan_times.drop(japan_times.loc[japan_times['url_status']=="invalid"].index, inplace=True)